<!-- 使用内容投影，这样提供的HTML代码面板才能拆分为选项卡 -->
<div #content style="display: none">
    <ng-content></ng-content>
</div>

<mat-card>
    <mat-tab-group class="code-tab-group" [disableRipple]="true">
        <mat-tab style="overflow-y: hidden;" *ngFor="let tab of tabs">
            <ng-template mat-tab-label>
                <span class="{{ tab.class }}">{{ tab.header }}</span>
            </ng-template>
            <univ-code class="{{ tab.class }}"
                      [language]="tab.language"
                      [linenum]="tab.linenum"
                      [path]="tab.path"
                      [region]="tab.region"
                      [header]="tab.header">
            </univ-code>
        </mat-tab>
    </mat-tab-group>
</mat-card>
