// 字体
$main-font: "Roboto", "Helvetica Neue Light", "Helvetica Neue", "Helvetica", "Arial", "Lucida Grande", "sans-serif";
$code-font: "Roboto Mono", monospace;

// Z层
$layer-1: 1;
$layer-2: 2;
$layer-3: 3;
$layer-4: 4;
$layer-5: 5;

// 颜色
$cyan: #39d0ff;
$powder-blue: #bae0ff;
$light-blue: #7fc9ff;
$blue: #1976D2;
$warm-blue: #7491ff;
$cold-blue: #8ccade;
$dark-blue: #1669bb;
$accent-blue: #1E88E5;
$bright-red: #DD0031;
$dark-red: #C3002F;
$white: #FFFFFF;
$off-white: #FAFAFA;
$tangerine: #DDA302;
$dark-golden-rod: #C3A300;
$back-ground-gray: #F1F1F1;
$super-light-gray: #F2F2F2;
$light-gray: #DBDBDB;
$light-box-gray: #EBEBEB;
$mist: #ECEFF1;
$medium-gray: #6E6E6E;
$dark-gray: #444444;
$deep-gray: #333333;
$black: #0A1014;
$orange: #FF9800;
$dark-orange: #940;
$anti-pattern: $bright-red;

// 代码颜色
$amber-200: #AA3000;
$amber-700: #FFA000;
$blue-400: #42A5F5;
$blue-500: #2196F3;
$blue-600: #1E88E5;
$blue-800: #1565C0;
$blue-900: #0D47A1;
$blue-grey-50: #ECEFF1;
$blue-grey-100: #CFD8DC;
$blue-grey-200: #B0BEC5;
$blue-grey-300: #90A4AE;
$blue-grey-400: #78909C;
$blue-grey-500: #607D8B;
$blue-grey-600: #546E7A;
$blue-grey-700: #455A64;
$blue-grey-800: #37474F;
$blue-grey-900: #263238;
$code-green: #17ff0b;
$green-500: #4CAF50;
$green-800: #2E7D32;
$light-green-600: #7CB342;
$pink-600: #D81B60;
$purple-600: #8E24AA;
$teal-500: #009688;
$light-grey: #F5F6F7;

// 状态颜色
$focus-outline-on-dark: rgba($white, 0.8);
$focus-outline-on-light: $accent-blue;

// 渐变色
$blue-gradient: linear-gradient(145deg, $blue-900, $blue-400);
$red-gradient: linear-gradient(145deg, $dark-red, $bright-red);

// 其他
$small-breakpoint-width: 840px;
$phone-breakpoint-width: 480px;
$tablet-breakpoint-width: 800px;
