@use '../../constants';

@mixin theme($theme) {
    univ-notification {
        background: constants.$darkgray;

        .close-button {
            background: constants.$darkgray;
        }

        .content {
            background: constants.$darkgray;

            .action-button {
                background: constants.$brightred;
            }
        }
    }
}
