<div class="grid-fluid">
    <div class="footer-block" *ngFor="let node of nodes">
        <div class="footer-block-heading">{{ node.title }}</div>
        <ul>
            <li *ngFor="let item of node.children">
                <a class="link" [href]="item.url" [title]="item.tooltip || item.title">{{ item.title }}</a>
            </li>
        </ul>
    </div>
</div>
<p>
    技术支持：Univtech ©2010-2022.
</p>
<p>
    代码许可协议：<a href="license" title="License text">MIT授权协议</a>.
    文档许可协议：<a href="https://creativecommons.org/licenses/by/4.0/">CC 4.0</a>.
</p>
